.hero-hero {
  position: relative;
  height: 500px;
  background: #26264895;
  color: var(--link, #69f0ae);
  overflow: hidden;
}
.hero-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: 50% 50%; /* Center horizontally, 20% from top */
  opacity: 0.4;
}
.hero-gradient {
  background: linear-gradient(90deg, #262648 70%, transparent 120%);
  height: 100%;
  opacity: 0.5;
}

.text {
  padding-top: 1rem ;  
  padding-left: 4rem;
}

.bi {
  color: var(--link, #69f0ae);
}
